{% load static %}
{% load render_partial %}
{% url 'dashboard'  as dashboard %}
{% url 'show_bread_list'  as bread_list %}
{% url 'user_list'  as user_list %}
{% url 'show_orders' as  show_orders %}
{% url 'produce_bread'  as produce_bread %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock title %} |  پنل مدیریت </title>
  {% include "adminlte/headerrefrence.html" %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    jQuery(function($){
    $('.loader').fadeOut('slow');
    $("#success-alert").delay(1200).fadeOut('slow');

    }); });
  </script>
  <style type="text/css">
    .bootstrap-tagsinput {
      width: 100%;

    }
    .bootstrap-tagsinput .tag {
      background: gray;
      padding: 4px;
      margin-right: 2px;
      color: white;
      border-radius: 4px;
    }
    
    div.alert-messages {
              position: fixed;
              top:20px;
              left:72%;
              right:1%;
              z-index: 7000;
    }
    .loader {
              position: fixed;
              left: 0px;
              top: 0px;
              width: 100%;
              height: 100%;
              z-index: 9999;
              background: url('{% static "loader.gif" %}') 50% 50% no-repeat #fff; /* Change the #fff here to your background color of choice for the preloader fullscreen section */
     }
     .alert-green{
                background-color: #00a65a !important;
                color:white;
            }
            .alert-red{
                background-color: #dd4b39 !important;
                color:white;
            }
      .mt-3{
        margin-top:80px;
      }
      .alert-order{
              position: fixed;
              top:20px;
              left:72%;
              right:1%;
              z-index: 7000;
      }
      @keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}
  </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
       {% for message in messages  %}
            <div class='alert-order '>
            {% if message.tags == "error" %}
                <div class="alert alert-red  " style="height:70px" id="success-alert">
                    <i class='bi bi-lightbulb-fill' style='color:yellow'></i>
                    <strong> {{message}} !</strong>
                </div>
            {% endif %}
            {% if message.tags == "success" %}
                <div class="alert alert-green col-sm-12  col-md-12" style="height:70px" id="success-alert">
                    <i class='bi bi-lightbulb-fill' style='color:yellow'></i>
                    <strong> {{message}} !</strong>
                </div>
            {% endif %}
            </div>
        {% endfor %}
  <div class="loader"></div>
  <div class="alert-messages">
  </div>
  <!-- wraperr start  -->
  <div class="wrapper">
   


    <header class="main-header">
      <!-- Logo -->
      <a href="/adminlte" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">پنل</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li>
              <a href="/" target="_blank" title="دیدن  سایت"><i class="fa fa-eye"></i></a>
            </li>
            {% render_partial 'adminlte.views.switch_render' %}
            
            <!-- Notifications: style can be found in dropdown.less -->
            
            <!-- Tasks: style can be found in dropdown.less -->
          
            <!-- User Account: style can be found in dropdown.less -->
            {% comment %} <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{request.user.user_detail.get_avatar}}" class="user-image" alt="AVATAR">
                <span class="hidden-xs">{{request.user.get_full_name}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="{{request.user.user_detail.get_avatar}}" class="user-image" alt="AVATAR">
                  <p>
                    {{request.user.get_full_name}}
                    <small>مدیریت کل سایت</small>
                  </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                  <div class="row">
                    <div class="col-xs-4 text-center">
                      <a href="#">صفحه من</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">فروش</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">دوستان</a>
                    </div>
                  </div>
                  <!-- /.row -->
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat">پروفایل</a>
                  </div>
                  <div class="pull-left">
                    <a href="/log_out" class="btn btn-default btn-flat">خروج</a>
                  </div>
                </li>
              </ul>
            </li> {% endcomment %}
            <!-- Control Sidebar Toggle Button -->
          </ul>
        </div>
      </nav>
    </header>



    <!-- aside  right side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-right image">
            <img src="{{request.user.user_detail.get_image}}" style='width:45px;height:45px' class="img-circle"
              alt="AVATAR">
          </div>
          <div class="pull-right info">
            <p>{{request.user.get_full_name}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="جستجو">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">منو</li>
          <li {% if request.path == dashboard %}class="active"{% endif %}>
            <a href="/adminlte">
              <i class="fa fa-dashboard"></i>
              <span> داشبرد </span>

            </a>
          </li>
          {% if perms.order.view_bread %}
          <li {% if request.path == bread_list %}class="active"{% endif %}>
            <a href="{{bread_list}}">
              <i class="fa fa-laptop"></i>
              <span>نان</span>

            </a>
          </li>
          {% endif %}
          {% if perms.auth.view_user %}
          <li {% if request.path == user_list %}class="active"{% endif %}>
            <a href="{{user_list}}">
              <i class="fa  fa-user"></i>
              <span>کاربران</span>

            </a>
          </li>
          {% endif %}

        
          {% if perms.order.can_access_produce_section %}
          <li  {% if request.path == produce_bread %}class="active"{% endif %}>
            <a href="{{produce_bread}}">
              <i class="fa  fa-cogs"></i>
              <span>پخت و پز نان </span>

            </a>
          </li>
          {%endif%}


          {% if perms.order.view_order %}
          <li class="treeview {% if request.path == show_orders   %}active{% endif %} ">
            <a href="#">
              <i class="fa fa-cart-plus"></i>
              <span>سفارشات</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="{{show_orders}}"><i class="{% if request.path == show_orders   %}fa fa-circle {%else%}fa fa-circle-o{% endif %}"></i> سفارش ها </a></li>
              <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> کدتخفیف </a></li>
            </ul>
          </li>
          {% endif %}

          <li>
            <a href="{%url "admin_logout"%}">
              <i class="fa  fa-sign-out"></i>
              <span>خروج</span>

            </a>
          </li>
          {% comment %} <li class="treeview">
            <a href="#">
              <i class="fa fa-files-o"></i>
              <span>لایه های صفحه</span>
              <span class="pull-left-container">
                <span class="label label-primary pull-left">4</span>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> نوار بالا</a></li>
              <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> باکس ها</a></li>
              <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> فیکس شده</a></li>
              <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> سایدبار</a></li>
            </ul>
          </li>
          <li>
            <a href="pages/widgets.html">
              <i class="fa fa-th"></i> <span>ویجت ها</span>
              <span class="pull-left-container">
                <small class="label pull-left bg-green">جدید</small>
              </span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-pie-chart"></i>
              <span>نمودارها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i>نمودار ChartJS</a></li>
              <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i>نمودار Morris</a></li>
              <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i>نمودار Flot</a></li>
              <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i>نمودار Inline charts</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i>
              <span>اشیای گرافیکی</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> عمومی</a></li>
              <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> آیکون</a></li>
              <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> دکمه</a></li>
              <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> اسلایدر</a></li>
              <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> تایم لاین</a></li>
              <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> مدال</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-edit"></i> <span>فرم ها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> اجزای عمومی</a></li>
              <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> پیشرفته</a></li>
              <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> ویرایشگر</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-table"></i> <span>جداول</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> جدول ساده</a></li>
              <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> جدول داده</a></li>
            </ul>
          </li>
          <li>
            <a href="pages/calendar.html">
              <i class="fa fa-calendar"></i> <span>تقویم</span>
              <span class="pull-left-container">
                <small class="label pull-left bg-red">۳</small>
                <small class="label pull-left bg-blue">۱۷</small>
              </span>
            </a>
          </li>
          <li>
            <a href="pages/mailbox/mailbox.html">
              <i class="fa fa-envelope"></i> <span>ایمیل ها</span>
              <span class="pull-left-container">
                <small class="label pull-left bg-yellow">۱۲</small>
                <small class="label pull-left bg-green">۱۶</small>
                <small class="label pull-left bg-red">۵</small>
              </span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-folder"></i> <span>مثال ها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> سفارش</a></li>
              <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> پروفایل</a></li>
              <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> صفحه ورود</a></li>
              <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> ثبت نام</a></li>
              <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> قفل صفحه</a></li>
              <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> ارور ۴۰۴</a></li>
              <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> ارور ۵۰۰</a></li>
              <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> صفحه خالی</a></li>
              <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> صفحه سریع</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-share"></i> <span>چندسطحی</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> سطح اول</a></li>
              <li class="treeview">
                <a href="#"><i class="fa fa-circle-o"></i> سطح اول
                  <span class="pull-left-container">
                    <i class="fa fa-angle-right pull-left"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-circle-o"></i> سطح دوم</a></li>
                  <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> سطح دوم
                      <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> سطح سوم</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> سطح سوم</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-circle-o"></i> سطح اول</a></li>
            </ul>
          </li>
          <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>مستندات</span></a></li>
          <li class="header">برچسب ها</li>
          <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>مهم</span></a></li>
          <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>هشدار</span></a></li>
          <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>اطلاعات</span></a></li> {% endcomment %}
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
    <!-- /.aside  -->


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
         
      {% block content %}

      {% endblock content %}
    </div>
    <!-- /.content-wrapper -->





    <footer class="main-footer text-left">
      <strong>Copyleft &copy; 2022-2023 <a href="http://127.0.0.1:8000/about_us">نانوی شاپ</a> </strong>
    </footer>





  </div>
  <!-- ./wrapper end  -->


  <!-- modal start -->
  <div class="modal modal-danger fade" id="modal-danger">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">پاک کردن </h4>
        </div>
        <div class="modal-body">
          <p>ایا مطمئن هستید ؟</p>
        </div>
        <div class="modal-footer">
          <a id="pid" class="text-white">
            <button type="button" class="btn btn-outline">

              بله

            </button>
          </a>
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">خیر</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- modal end -->
  {% include 'adminlte/footerrefrences.html' %}
</body>

</html>