{% load static %}
{% load humanize %}
{% url 'login_page' as login %}
{% url 'log_out' as log_out %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>       نانوی شاپ         </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="https://media.flaticon.com/dist/min/img/favicon.ico">
        <style>
            .navbar-nav li{
                margin-right:29px;
            }
            .dropdown a {
                color:black

            }
            .title_bread{
                font-size:35px;
                font-weight: bold;
                color: #2b2626;
            }
            .social-icon i{
                font-size:23px;
                margin-right:5px;
            }
        </style>
    </head>
    <body>
            {% comment %} this is a header and navbar {% endcomment %}
            <header>
                <div class="index-top position-relative w-100 bg-white">
                <div class="main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-2">
                                <p class='text-info mt-4'>نانوی شاپ</p>
                            </div>
                            <div class="col-md-8 col-6 pt-2">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse"
                                    id="navbarSupportedContent">
                                    <ul class="navbar-nav mb-2 mb-lg-0 " >
                                            <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#">خانه</a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link" href="#">تماس با ما </a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link" href="#">درباره ما </a>
                                            </li>
                                            
                                    
                                        </ul>
                                </div>
                            </nav>
                            </div>
                            <div class="col-md-3 col-4 text-start">
                            <div class="top-account">
                                {% if request.user.is_authenticated  %}
                                    {% comment %} <a href="{{login}}" class="text-dark"><i class="bi bi-person"></i><span style='font-size:15px'>سلام کاربر گرامی</span></a>
                                    <a href="/admin/logout" class="text-dark"><i class="bi bi-box-arrow-left"></i><span style='font-size:15px'>  </span></a> {% endcomment %}  
                                   
                                    <div class="dropdown">
                                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-person"></i> {{request.user.username}}
                                        </a>
                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> پروفایل </a></li>
                                          <li><a class="dropdown-item" href="{{log_out}}"><i class="bi bi-box-arrow-left"></i>   خروج  </a></li>
                                        </ul>
                                    </div>
                                      
                                    {% else %}
                                    <a href="{{login}}" class="text-dark"><i class="bi bi-box-arrow-in-right"></i><span style='font-size:15px'>ورود</span></a>
                                {% endif %}
                                
                               
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </header>
            {% block content %}
            {% endblock  %}
            <script src="{% static 'js/jQuery.js' %}"></script>
            <script src="{% static 'js/popper.js' %}"></script>
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <script src="{% static 'js/owl.carousel.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
            <script src="https://seo90.ir/downloads/category/html-theme/"></script>
            <script>  
                function heart_icon_func(product_id){
                    var heart_icon = document.getElementById('heart_icon');
                    if (heart_icon.classList.contains('bi-heart')) {
                        heart_icon.classList.remove('bi-heart');
                        heart_icon.classList.remove('text-dark');
                        heart_icon.classList.add('bi-heart-fill');
                        heart_icon.classList.add('text-danger');
                        $.ajax({
                            url:'/city',
                            type:'POST',
                            headers: {'X-CSRFToken': csrftoken},
                            data:{
                                "state":$('#AttorneyEmpresa option:selected').val()
                            },
                            success:function(rsp){
                                
                            },
                        });

                    } 
                    else {
                        heart_icon.classList.remove('bi-heart-fill');
                        heart_icon.classList.add('bi-heart');
                        heart_icon.classList.remove('text-danger');
                        heart_icon.classList.add('text-dark');
                    }
                }
            </script>
    </body>
</html>