{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.flaticon.com/dist/min/img/favicon.ico">
    <title>سایت تعطیله</title>
    <style>
    .loader {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url('{% static "close.jpg" %}') 50% 50% no-repeat #fff; /* Change the #fff here to your background color of choice for the preloader fullscreen section */
                background-size: cover;   
            }
    </style>
</head>
<body>
    <div class="loader">

    </div>
</body>
</html>