{% extends 'base_layout/_main_layout.html' %}
{% load static %}
{% load humanize %}
{% block title %}
نانوی شاپ - صفحه اصلی 
{% endblock %}
{% block content %}
{% for message in messages  %}
<div class='alert-order'>
   {% if message.tags == "error" %}
      <div class="alert alert-red" style="height:70px" id="success-alert">
         <i class='bi bi-lightbulb-fill' style='color:yellow'></i>
         <strong> {{message}} !</strong>
      </div>
   {% endif %}
   {% if message.tags == "success" %}
      <div class="alert alert-green" style="height:70px" id="success-alert">
         <i class='bi bi-lightbulb-fill' style='color:yellow'></i>
         <strong> {{message}} !</strong>
      </div>
   {% endif %}
</div>
{% endfor %}
<div class="alert-messages">
</div>
<section>
   <div class="container">
      <div class="row">
         {% for bread in breads %}
            <div class="col-12 mt-3 bg-white shadow mb-2 " style="border-radius:20px;">
                        <div class="col-sm-12 col-md-6 col-lg-6 " style="float:right;">
                           <img src="{{bread.image.url}}" height="500px" alt="">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="float:left;padding-top:50px;">
                           <h3 class="font-weight-bold title_bread">نان {{bread.title}}</h3>
                           <hr class="bg-secondary">
                           <p class="text-left"><span style='font-size:20;color:red'>{{bread.price|intcomma:False}} تومان</span></p>
                           <h4>توضیحات :</h4>
                           <p> 
                              {{bread.description}} 
                           </p>
                              <form method='POST' action=''>
                                 تعداد: {{form.quantity}}
                                 <br>
                                 <input type="hidden" value="{{bread.id}}" name="bread_id" id="id_bread_id">
                                 {% csrf_token %}
                                 <span class='ml-4'> ما را در شبکه های اجتماعی دنبال کنید :</span>
                                 <div class='social-icon d-flex justify-content-end'>
                                    <a href='https://telegram.org/' target='_blank'><i class='bi bi-telegram'></i> </a>
                                    <a href='https://www.instagram.com/' target='_blank'> <i class='bi bi-instagram text-dark'></i></a>
                                    {% comment %} <a> <i class='bi bi-heart-fill text-danger'></i></a> {% endcomment %}
                                    {% if request.user.is_authenticated %}
                                        <a href='javascript:void(0)' onclick='heart_icon_func(this,{{bread.id}})' id='bread_{{bread.id}}'><i class='bi bi-heart text-dark'></i></a>
                                          {% for user in bread.favorite %}
                                                {% if user.id == request.user.id %}
                                                <script>
                                                   a = document.getElementById('bread_{{bread.id}}');
                                                   a.remove()
                                                </script>
                                                <a href='javascript:void(0)' onclick='heart_icon_func(this,{{bread.id}})' id='bread_{{bread.id}}'><i class='bi bi-heart-fill text-danger'></i></a>
                                                {% endif %}
                                          {% endfor %}
                                    {%endif%}   
                                 </div>
                                 <button type='sumbit' class="btn btn-primary w-100 " style="float:left">اضافه به سبد خرید</button>
                              </form>
                           
                        </div>
            </div>
         {% endfor %}  
      </div>
   </div>
</section>
{% endblock  %}


