{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">

</head>

<body>
    <!-- header with login and waves start  -->
    <div class="header">
        <!-- contents before waves -->

        {% block content %}
        
        {% endblock content %}

        <!-- waves start  -->
        <div style="margin-top:80px;">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
        <!-- waves end -->

      
    </div>
    <!-- header  ends  -->
    <div class="content flex">
        <p>نانوایی انلاین  </p>
    </div>

    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            myinterval=setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);
        
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
        
                display.textContent = '('+minutes + ":" + seconds+')';
        
                if (--timer < 0) {
                    link=document.getElementById('link') 
                    link.style.pointerEvents = 'auto';
                    clearInterval(myinterval); 
                }
            }, 1000);
        }
        
        window.onload = function () {
            var fourMinutes = 60*4,
                display = document.querySelector('#time');
            startTimer(fourMinutes, display);
        };
    </script>
</body>

</html>