{% extends 'base_layout/_main_layout.html' %}
{% load static %}
{% load render_partial %}

{% block title %}
عوض کردن پسورد
{% endblock title %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        {% render_partial 'accountt.views.show_right_panel' %}            
            <div class="col-md-9">
                <div class="bg-white shadow mb-2 " style="border-radius:10px;padding:20px">
                    <p style='font-size:20px'>فرم تغییر رمز عبور  </p>
                    <hr>
                    <form method="post" class="form-inline row" style="padding:0px;">
                            {% csrf_token %}
                            <div class="col-md-12 mb-2">
                                <label for="" > <i class="bi bi-lock"></i> گذرواژه قبلی :</label>
                                {{form.previous_pass}}
                            </div>
                            {% for error in form.previous_pass.errors %}
                            <span class='text-danger'>{{error}}</span>
                            {% endfor %}
                            <div class="col-md-6 mb-2">
                                <label for="" > <i class="bi bi-lock"></i> گذرواژه جدید :</label>
                                {{form.password}}
                            </div>
                            {% for error in form.password.errors %}
                            <span class='text-danger'>{{error}}</span>
                            {% endfor %}
                            <div class="col-md-6 mb-2">
                                <label for=""><i class="bi bi-lock"></i> تکرار گذرواژه :</label>
                                {{form.confirm_pass}}
                            </div>
                           
                            {% for error in form.confirm_pass.errors %}
                            <span class='text-danger'>{{error}}</span>
                            {% endfor %}
                            <button type="submit" class="btn btn-success mt-3">ذخیره</button>
                    </form>
                    
                       
                </div>
                
                
            </div>
    </div>
</div>



{% endblock %}