{% extends 'base_login/main_layout.html' %}
{% load static %}
{% block content %}
<div id="login" >
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-4">
                <div id="login-box" class="col-md-12">
                    <form class="form-inline" id="login-form"  method="post">
                        {% csrf_token %}
                        <p class="text-right text-info">ایجاد حساب کاربری </p>
                        <label for="phone" class="text-info mt-3">شماره تلفن همراه :</label><br>
                        <div class="input-group form-group">
                            {{form.phone}}                                       
                            <div class="input-group-prepend ">
                                <input type="submit" name="submit" class="btn btn-info btn-md " value="ادامه">
                            </div>
                        </div>
                        {% for error in form.phone.errors %}
                        <span class='text-danger'>{{error}} </span>
                        {% endfor %}
                    </form>
                    <div id="register-link" class="text-right">
                        <a href="/login" class="text-info ">برگشت به صفحه ورود</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}




